
<!-- _includes/header.html -->
<div class="banner">
  <img src="{{ site.baseurl }}/assets/banner.jpg" alt="Conference Template Banner">
  <div class="top-left">
    <span class="title1">International Workshop on Trustworthy Cyber-Physical Systems (TACPS)</span> <span class="year">2025</span>
    <span class="title2">In Conjunction with AAAI 25'</span>
  </div>
  <div class="bottom-right">
    Nov. 6-8, 2025 <br> Arlington, VA, USA | The Westin Arlington Gateway
  </div>
</div>

<table class="navigation">
  <tr>
    <td class="navigation">
      <a href="{{ site.baseurl }}/" class="{% if page.nav == 'home' %}current{% endif %}">Home</a>
    </td>
    <td class="navigation">
      <a href="{{ site.baseurl }}/registration/" class="{% if page.nav == 'registration' %}current{% endif %}">Registration</a>
    </td>
    <td class="navigation">
      <a href="{{ site.baseurl }}/program/" class="{% if page.nav == 'program' %}current{% endif %}">Program</a>
    </td>
    <td class="navigation">
        <a href="{{ site.baseurl }}/venue/" class="{% if page.nav == 'venue' %}current{% endif %}">Venue</a>
    </td>
    <td class="navigation">
      <a href="{{ site.baseurl }}/archive/" class="{% if page.nav == 'archive' %}current{% endif %}">Archive</a>
    </td>
  </tr>
</table>
